##### 위드어스1.0 rewrite BEGIN #####
#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteBase /adminlte3/
#RewriteCond %{REQUEST_FILENAME} -f [OR]
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^ - [L]
#RewriteRule ^content/([0-9a-zA-Z_]+)$  main/content.php?co_id=$1&rewrite=1  [QSA,L]
#RewriteRule ^content/([^/]+)/$  main/content.php?co_seo_title=$1&rewrite=1      [QSA,L]
#RewriteRule ^rss/([0-9a-zA-Z_]+)$  main/rss.php?bo_table=$1        [QSA,L]
#RewriteRule ^([0-9a-zA-Z_]+)$  main/board.php?bo_table=$1&rewrite=1      [QSA,L]
#RewriteRule ^([0-9a-zA-Z_]+)/([^/]+)/$ main/board.php?bo_table=$1&wr_seo_title=$2&rewrite=1      [QSA,L]
#RewriteRule ^([0-9a-zA-Z_]+)/write$  main/write.php?bo_table=$1&rewrite=1    [QSA,L]
#RewriteRule ^([0-9a-zA-Z_]+)/([0-9]+)$  main/board.php?bo_table=$1&wr_id=$2&rewrite=1  [QSA,L]
#</IfModule>
##### 위드어스1.0 rewrite END #####




<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# If the request is for a file or directory, let it pass through
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect /bbs to /main
RewriteRule ^bbs/(.*)$ /main/$1 [R=301,L]

# Existing rules
RewriteRule ^content/([0-9a-zA-Z_]+)$ main/content.php?co_id=$1&rewrite=1 [QSA,L]
RewriteRule ^content/([^/]+)/$ main/content.php?co_seo_title=$1&rewrite=1 [QSA,L]
RewriteRule ^rss/([0-9a-zA-Z_]+)$ main/rss.php?bo_table=$1 [QSA,L]
RewriteRule ^([0-9a-zA-Z_]+)$ main/board.php?bo_table=$1&rewrite=1 [QSA,L]
RewriteRule ^([0-9a-zA-Z_]+)/([^/]+)/$ main/board.php?bo_table=$1&wr_seo_title=$2&rewrite=1 [QSA,L]
RewriteRule ^([0-9a-zA-Z_]+)/write$ main/write.php?bo_table=$1&rewrite=1 [QSA,L]
RewriteRule ^([0-9a-zA-Z_]+)/([0-9]+)$ main/board.php?bo_table=$1&wr_id=$2&rewrite=1 [QSA,L]
</IfModule>